.hero_section{
    height: 90vh;
}
.hero_wrapper{
    display: flex;
    justify-content: space-between;
}
.hero_content, .hero_img{
    width: 50%;
}
.hero_img img{
    width: 100%;
    height: 70%;
}
.hero_content h2{
    font-size: 3rem;
}
.hero_content{
    padding-top: 20px;
}
.highlight{
    color: var(--primary-color);
}
.hero_btns{
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.primary_btn{

    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 30px;
    border: 2px solid var(--primary-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
}
.primary_btn:hover{
    transition : 1000ms;
    transform: scale(1.25);
    background-color: #fff;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
    cursor: pointer;
}
.secondary_btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 10px 30px;
    border: 2px solid var(--primary-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    cursor: pointer;
}
.secondary_btn:hover{
    transition : 1000ms;
    transform: scale(1.25);
    background-color: #fff;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}
.txt-rotate{
    color: var(--primary-color)!important;
}
.pb-15{
    margin-top: 2rem;
}
