.carousel_content{
    padding-top: 2rem;
    
}
.carousel_img img{
    margin-top: 2rem;
    background-position: center;
    background-size: cover;
    background-position: center;
    width: 90%;
    border: 0.5px solid var(--primary-color);
    border-radius: 2%;
    transition: 300ms;
}

.carousel_img img:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.carousel_img button{
    background: none !important;
    border: none !important;
    transition: 300ms;
    margin-right: 1.6rem;
}
.carousel_img i{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-color);
    box-shadow: 4px solid #fff;
    border-radius: 50%;
}
.carousel_img button:hover{
    transform: scale(1.1);
}
.carousel button{
    background-color: #fff !important;
}
.container{
    text-align: center;
}
.container h2{
    padding-bottom: 20px;
}