.carousel_content{
    padding-top: 2rem;
}
.carousel_img img{
    background-position: center center;
    width: 100%;
}
.container{
    text-align: center;
}
.container h2{
    padding-bottom: 20px;
}