#services{
    
}
.services_top-content{
    text-align: center;
    margin-bottom: 40px;
}
.services-item{
    background: var(--card-bg);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    user-select: none;
    cursor: pointer;
    height: 350px;
}

.services-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 50px;
    background: var(--icon-bg);
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1.5px solid var(--primary-color);
}
.services-icon i{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.services_title{
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.services-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}
@media only screen and (max-width:992px){
    .services_top-content h2{
        font-size: 1.5rem;
    }
    .services-item-wrapper{
        flex-wrap: wrap;
    }
    .services-item{
        width: 30%;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width:768px){
    .services-item{
        width: 47%;
    }
    .services_title{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:605px){
    .services-item{
        width: 100%;
    }
}
